$main: #4dc1cc;




$sm : "only screen and (min-width : 320px) and (max-width: 768px)";
$md : "only screen and (min-width : 769px) and (max-width: 1280px)";
$lg : "only screen and (min-width : 1280px)";